/*****************************************************
 *  DATA TABLE STYLES                                *
 *****************************************************/
.data_table {
	border-collapse: collapse;
	width: 100%;
	padding: 5px;
}

.data_table th {
	padding-right: 20px;
	border: 1px solid gray;
	background-color: #E5EDF9;
}

.data_table tr.row_odd {
	background-color: #fafafa;
}

.data_table tr.row_odd:hover,.data_table tr.row_even:hover {
	background-color: #f0f0f0;
}

.data_table tr.row_even {
	background-color: #fff;
}

.data_table td {
	padding: 5px;
	vertical-align: top;
	border-bottom: 1px solid #b0b0b0;
	border-right: 1px dotted #e1e1e1;
	border-left: 1px dotted #e1e1e1;
}