@CHARSET "ISO-8859-1";

div.create_block {
	background-repeat: no-repeat;
	background-position: center 10px;
	background-color: #F6F6F6;
	float: left;
	margin: 0px 10px 10px 0px;
	padding: 42px 10px 10px 10px;
	-moz-border-radius: 5px;
	overflow: hidden;
	width: 100px;
	text-align: center;
	font-weight: bold;
	color: #565656;
	font-size: 11px;
}

#content_object_selection {
	clear: both;
	margin-top: 10px;
}

#repository_tree_container {
	overflow: auto;
}