<phpunit
    bootstrap="./TestBootstrap.php" 
    colors="true" 
    syntaxCheck="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="false"
    convertWarningsToExceptions="true"
>
        <testsuite name="Unit">
            <directory >./unit</directory>
        </testsuite>

</phpunit>