@CHARSET "ISO-8859-1";

/*****************************************************
 *  HANDBOOK STYLES                                      *
 *****************************************************/

div.content_bar_left {

	border-left: 0px;
	left: 0px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}