@CHARSET "ISO-8859-1";

/* TOOL MENU */
div.tool_bar {
	background-color: #efefef;
	border: 1px solid #d90223;
	padding: 10px;
	position: fixed;
	text-align: left;
}

div.tool_bar div.divider {
	background-color: #d90223;
	margin: 10px 0px 10px 0px;
	line-height: 1px;
	height: 1px;
	font-size: 1px;
}

div.tool_bar #tool_bar_hide_container {
	display: none;
	text-align: center;
	width: 18px;
	height: 36px;
	position: absolute;
	top: 50%;
	margin-top: -18px;
	background-repeat: no-repeat;
	background-position: center center;
}

#tool_bar_show {
	display: none;
}

#tool_bar_hide img {
	margin: 10px 5px 11px 5px;
}

#tool_bar_show img {
	margin: 10px 5px 11px 5px;
}

/* TOOL MENU in LEFT modus */
div.tool_bar_left {
	width: 160px;
	border-left: 0px;
	left: 0px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topright: 10px;
}

#tool_browser_left {
	margin-left: 180px;
}

/* TOOL MENU in RIGHT MODUS */
div.tool_bar_right {
	width: 142px;
	padding-left: 28px;
	border-right: 0px;
	right: 0px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-topleft: 10px;
}

#tool_browser_right {
	margin-right: 180px;
}

/* TOOL MENU in LEFT ICON modus */
div.tool_bar_icon_left {
	width: 34px;
	border-left: 0px;
	left: 0px;
}

#tool_browser_icon_left {
	margin-left: 54px;
}

/* TOOL MENU in RIGHT ICON modus */
div.tool_bar_icon_right {
	width: 16px;
	padding-left: 28px;
	border-right: 0px;
	right: 0px;
}

#tool_browser_icon_right {
	margin-right: 54px;
}

/* TOOL MENU in LEFT or ICON LEFT modus */
div.tool_bar_left #tool_bar_hide_container.hide,div.tool_bar_icon_left #tool_bar_hide_container.hide
	{
	right: 0px;
	margin-right: -1px;
	background-image:
		url(../images/common/action_action_bar_left_hide_background.png);
}

div.tool_bar_left #tool_bar_hide_container.show,div.tool_bar_icon_left #tool_bar_hide_container.show
	{
	right: -18px;
	margin-left: 0px;
	background-image:
		url(../images/common/action_action_bar_left_show_background.png);
}

/* TOOL MENU in RIGHT or ICON RIGHT modus */
div.tool_bar_right #tool_bar_hide_container.hide,div.tool_bar_icon_right #tool_bar_hide_container.hide
	{
	left: 0px;
	margin-left: -1px;
	background-image:
		url(../images/common/action_action_bar_right_hide_background.png);
}

div.tool_bar_right #tool_bar_hide_container.show,div.tool_bar_icon_right #tool_bar_hide_container.show
	{
	left: -18px;
	margin-right: 0px;
	background-image:
		url(../images/common/action_action_bar_right_show_background.png);
}

/* TOOL MENU list options */
div.tool_menu ul {
	padding: 0px;
	margin: 0px;
}

div.tool_menu ul li.tool_list_menu {
	padding: 0px 0px 2px 0px;
	margin: 0px;
	list-style: none;
}

th.graph_header {
	padding: 0px;
	text-align: center;
}