@CHARSET "ISO-8859-1";

/*****************************************************
 *  ADMIN STYLES                                     *
 *****************************************************/
	/* Platform admin overview */
div.admin {
	float: left;
	width: 49%;
	margin: 10px 20px 10px 0px;
}

div.admin_section {
	clear: both;
	padding: 10px;
	border: 1px solid #ebebeb;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: background-color :   #f6f6f6;
}

div.admin_header {
	clear: both;
}

div.admin_header span.category {
	float: left;
	background-color: #f6f6f6;
	font-weight: bold;
	color: #4271B5;
	padding: 5px 15px 0px 15px;
	border: 1px solid #ebebeb;
	border-bottom: 0px solid #efefef;
	margin: 0px 0px -1px 15px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	/*
	background-image: url('../img/admin/background_tab.png');
	background-repeat: repeat-x;
	*/
}

div.admin_header span.category img {
	margin: 0px 5px 0px 0px;
}

div.admin_header span.category span.title {
	color: #000066;
	font-size: 14px;
}

div.admin_header div.admin_search {
	float: right;
	margin: -10px 15px 0px 0px;
	background-color: #FFFFFF;
	font-weight: bold;
	color: #4271B5;
}

div.admin_section div.actions {
	clear: both;
	text-align: center;
}

div.action {
	float: left;
	text-align: center;
	padding: 5px 10px 5px 10px;
	margin: 0;
}

div.action img {
	margin: 8px 15px 8px 15px;
}

/*
 * Various
 */
div.admin_search_form {
	padding: 10px 0px 0px 0px;
	margin: 0px;
	height: 48px;
}

div.admin_search_form div.row {
	clear: none;
	float: left;
	padding: 0px;
}

div.admin_search_form div.row div.formw {
	float: none;
	width: auto;
}

div.admin_search_form div.row div.formw button {
	margin-top: -2px;
	margin-left: 10px;
}

.tab {
	border: 1px solid #ebebeb;
	background-color: #fafcfc;
	z-index: 1000;
	clear: both;
}

#tabs ul {
	display: none;
}

div.vertical_action {
	clear: both;
	width: 100%;
	overflow: hidden;
	padding: 10px 0px 10px 0px;
	border-top: 1px solid #EBEBEB;
}

div.vertical_action div.icon {
	float: left;
	width: 64px;
	height: 64px;
}

div.vertical_action div.icon img {
	margin: 16px;
}

div.vertical_action div.description {
	margin-left: 64px;
}

div.vertical_action div.description .binary_checkbox {
	margin-top: 10px;
}

div.vertical_action h4 {
	margin: 0px;
	padding: 0px;
}

span.active {
	color: green;
}

span.inactive {
	color: red;
}

/*********************************************
 * jQuery CSS: Tabs
 *********************************************/
.ui-tabs {
	padding: 0px;
}

.ui-tabs .ui-tabs-panel {
	border: 1px solid #ebebeb;
	background-color: #FAFCFC;
	padding: 0px;
}

.ui-tabs .ui-tabs-nav {
	padding-left: 0.4em;
	padding-right: 0.4em;
}

.ui-widget {
	font-family: verdana, sans-serif;
}

.ui-widget-content {
	border: 0px;
	background-image: none;
	background-color: transparent;
}

.ui-widget-header {
	border-width: 0px;
	background-image: none;
	background-color: transparent;
}

.ui-state-default,.ui-widget-content .ui-state-default {
	border: 0px solid #c5dbec;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus
	{
	border: 0px solid #79b7e7;
}

.ui-state-active,.ui-widget-content .ui-state-active {
	border: 1px solid #ebebeb;
}

div.items {
	clear: both;
	width: 100%;
}

/* prev, next, prevPage and nextPage buttons */
a.prev,a.next,a.prevPage,a.nextPage {
	display: none;
	width: 16px;
	height: 16px;
	background: url(../plugin/jquery/scrollable/top.png) no-repeat;
	background-position: 0px -16px;
	float: left;
	/*position: relative;*/
	margin-left: 50%;
	cursor: pointer;
	margin-bottom: 10px;
	margin-top: 10px;
}

.hover,div.vertical_action:hover {
	background-color: #f2f4f4;
}

/* mouseover state */
a.prev:hover,a.next:hover,a.prevPage:hover,a.nextPage:hover {
	background-position: 0px -32px;
}

/* disabled navigational button */
a.disabled {
	cursor: default;
	background-position: 0px 0px;
	/*visibility: hidden !important;*/
}

a.disabled:hover {
	background-position: 0px 0px;
}

/* next button uses another background image */
a.next,a.nextPage {
	background-image: url(../plugin/jquery/scrollable/bottom.png);
	clear: right;
}

/*********** navigator ***********/
	/* position and dimensions of the navigator */
div.navi {
	margin-left: 328px;
	width: 200px;
	height: 20px;
}

/* items inside navigator */
div.navi a {
	width: 8px;
	height: 8px;
	float: left;
	margin: 3px;
	background: url(../plugin/jquery/scrollable/navigator.png) 0 0 no-repeat
		;
	cursor: pointer;
}

/* mouseover state */
div.navi a:hover {
	background-position: 0 -8px;
}

/* active state (current page state) */
div.navi a.active {
	background-position: 0 -16px;
}

/*********************************************
 * jQuery CSS: Scrollable tabs
 *********************************************/
.ui-tabs-paging-next {
	float: right;
}

.ui-tabs-paging-prev,.ui-tabs-paging-next {
	position: relative;
	top: 10px;
	padding: 0px;
	margin: 0px;
	width: 16px;
	height: 16px;
	background-color: transparent;
	background: url(../plugin/jquery/scrollable/left.png) no-repeat;
}

.ui-tabs-paging-next {
	background: url(../plugin/jquery/scrollable/right.png) no-repeat;
}

.ui-tabs-paging-next:hover,.ui-tabs-paging-next:focus,.ui-tabs-paging-next:active,.ui-tabs-paging-prev:hover,.ui-tabs-paging-prev:focus,.ui-tabs-paging-prev:active
	{
	background-position: 0px -16px;
}

.ui-tabs-paging-disabled {
	visibility: hidden;
}