@CHARSET "ISO-8859-1";

tr.recycled td
{
	/*text-decoration:line-through;*/
	color:#cccccc;
}
tr.recycled td a
{
	color:#cccccc;
}
tr.recycled td a:hover
{
	color: #ff7777;
}

/**********************************************
 * LEARNING PATH BUILDER PREREQUISUITE STYLES *
 **********************************************/
 
div.prerequisite_group
{
	clear: both;
	margin: 20px 2px 2px 2px;
	padding: 0px;
	border: 0px solid #ebebeb;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

div.prerequisite_group div.header
{
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	background-color: #EEF5FA;
	/*border: 1px solid #B5CAE7;*/
	border-bottom: 1px dotted #cecece;
	font-weight: bold;
	color: #4171b5;
	overflow: auto;
	padding: 10px;
}

div.prerequisite_group div.header div.operator
{
	float: left;
}

div.prerequisite_group div.header div.title
{
	float: left;
}

div.prerequisite_group div.header div.actions
{
	float: right;
}

div.prerequisite_group div.body
{
	background-color: #F6F6F6;
	/*border: 1px solid #F6F6F6;*/
	padding: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
}