@CHARSET "ISO-8859-1";

/*****************************************************
 *  ADMIN STYLES                                     *
 *****************************************************/
	/* Platform admin overview */
div.admin_section {
	width: 45%;
	float: left;
	margin: 10px 20px;
	border: 1px solid #c0c0c0;
	font-size: 75%;
}

div.admin_section div.main {
	float: left;
	width: 80px;
	text-align: center;
	padding: 5px;
	border-right: 1px solid #c0c0c0;
	height: 100%;
	background: #ebebeb;
}

div.admin_section div.actions {
	float: left;
	text-align: center;
	height: 100%;
}

div.admin_section div.actions div.action {
	float: left;
	height: 100%;
	text-align: center;
	padding: 5px 10px 5px 10px;
	margin: 0;
	border-right: 1px solid #ebebeb;
	width: 70px;
	height: 60px;
}

div.admin_section div.actions div.action img {
	margin: 8px 15px 8px 15px;
}

div.admin_section div.admin_search {
	clear: both;
	border-top: 1px solid #c0c0c0;
	padding: 5px;
	height: 20px;
}

form {
	margin: 0;
	padding: 0;
}

form input {
	border: 1px solid #C0C0C0;
	height: 17px;
}

/* Platform settings application icons */
div.configure {
	clear: both;
	text-align: center;
	height: 80px;
}

div.configure div.application {
	float: left;
	width: 80px;
	height: 68px;
	text-align: center;
	padding: 5px 5px 5px 5px;
	margin: 2px 2px 2px 2px;
	border: 1px solid #ebebeb;
	font-size: 75%;
}

div.configure div.application_current {
	float: left;
	width: 80px;
	height: 68px;
	text-align: center;
	padding: 5px 5px 5px 5px;
	margin: 2px 2px 2px 2px;
	border: 1px solid #c0c0c0;
	background: #ebebeb;
	font-size: 75%;
}

div.configure div.application img {
	width: 60%;
}

div.configure div.application_current img {
	width: 60%;
}