@CHARSET "ISO-8859-1";

/*****************************************************
 *  SEARCH PORTAL STYLES                             *
 *****************************************************/
.portal_search_results {
	list-style: none;
	margin: 0;
	padding: 0;
}

.portal_search_result {
	background-repeat: no-repeat;
	background-position: 10px 10px;
	padding: 10px 10px 10px 44px;
	margin: 0 0 10px 0;
	border: 1px solid #F0F0F0;
}

.portal_search_result:hover {
	border-color: #E0E0E0;
	background-color: #f6f6f6;
}

.portal_search_result_title {
	font-size: 120%;
	font-weight: bold;
	display: inline;
}

.portal_search_result_type {
	font-size: 90%;
	color: #999;
	display: inline;
	padding-left: 1ex;
}

.portal_search_result_date {
	font-size: 90%;
	color: #666;
}

.portal_search_result_owner {
	font-size: 90%;
	color: #666;
}