@CHARSET "ISO-8859-1";
ul.tree-menu li div a.type_inbox {
	background-image: url(../../images/ruby/treemenu/inbox.png);
}
ul.tree-menu li div a.type_outbox {
	background-image: url(../../images/ruby/treemenu/outbox.png);
}

ul.tree-menu li div a.type_compose {
	background-image: url(../../images/ruby/treemenu/compose.png);
}