@CHARSET "ISO-8859-1";

#progressbox {
	clear: both;
	position: relative;
	padding: 0px;
	margin: 0px;
	color: #444444;
	background-color: #f2f2f2;
}

#progressbox ul,#progresstrail li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#progresstrail {
	float: left;
	height: 26px;
	overflow: hidden;
}

#progresstrail li, #progresstrail li.active {
	float: left;
	line-height: 26px;
	color: #777;
	padding: 0px 15px 0px 15px;
	border-right: 1px solid white;
}

#progresstrail li {
	background-color: #f2f2f2;
}

#progresstrail li.active {
	background-color: #E5EDF9;
}

#progresstrail li a, #progresstrail li.active a {
	display: block;
	cursor: default;
}

#progresstrail li a {
	color: #a8a8a8;
}

#progresstrail li.active a {
	color: #4171b5;
}