@CHARSET "ISO-8859-1";

div.mini_calendar {
	float: left;
	width: 19%;
	padding-right: 1%;
}

div.normal_calendar {
	float: left;
	width: 80%;
}

div.event_publication_info {
	text-align: right;
	font-style: italic;
	margin: 1em 0;
}