@CHARSET "ISO-8859-1";

/*****************************************************
 *  WEBLCMS STYLES                                   *
 *****************************************************/
	/* for content section in weblcms home course list file */
.maincontent {
	float: left;
	width: 78%;
	padding: 4px;
	background-color: #fff;
}

div.course_home_block {
	background-color: transparent;
	padding: 0px;
}

div.course_home_block div.title {
	padding: 5px 0px 5px 27px;
	border: 0px solid;
	background-position: 0px center;
	background-repeat: no-repeat;
	line-height: 18px;
	width: auto;
}

div.user_course_category {
	/*background-color: #efefef;*/
	background-color: transparent;
	border: 1px solid #666;
	font-weight: bold;
	color: #666;
	list-style-type: none;
	margin: 5px;
	padding: 5px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

div.user_category_block {
	background-color: transparent;
	border: 1px dotted #d3d3d3;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

div.user_category_block div.user_category_title {
	font-size: 100%;
	padding: 5px 20px;
	margin: 0px 0px;
	width: auto;
	border-bottom: 1px dotted #d3d3d3;
}

div.user_category_block div.user_category_description {
}

div.feedback_block {
	background-color: #f8f8f8;
	text-align: justify;
	margin: 0px 0px 10px 0px;
	padding: 15px;
	clear: both;
}

div.feedback_block form {
	margin: 0px;
	padding: 0px;
}

div.feedback_block div.configuration_form {
	clear: both;
	margin: 0px;
	padding: 0px;
	border: 0px solid #f8f8f8;
}

div.feedback_block div.configuration_form span.category {
	position: relative;
	top: -20px;
	background-color: #F6F6F6;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
	font-size: 0px;
}

div.feedback {
	background-color: white;
	margin: -1px 0 0 0;
	padding: 10px 10px 10px 44px;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	border: 1px solid #CCCCCC;
	border-top: 1px dotted #CCCCCC;
	border-bottom: 1px dotted #CCCCCC;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

div.feedback div.title {
	font-weight: bold;
	border-bottom: 1px solid #CCCCCC;
	width: 60%;
	margin-bottom: 1em;
	float: left;
}

div.feedback div.topactions {
	text-align: right;
}

div.feedback div.description {
	clear: both;
}

div.feedback span.publication_info {
	font-weight: normal;
	font-style: italic;
	text-align: right;
}

div.feedback div.publication_actions {
	text-align: right;
}

div.mini_calendar {
	float: left;
	width: 250px;
	padding-right: 10px;
}

div.normal_calendar {
	margin-left: 260px;
}

div.level_1 {
	background-color: #F6F6F6;
	color: #000000;
}

div.level_2 {
	background-color: #ecf4f8;
	color: #000000;
}

div.level_3 {
	background-color: #C48B33;
	color: #FFFFFF;
}

div.announcements div.title {
	border-bottom: 1px dotted #CCCCCC;
	font-weight: bold;
	width: 60%;
	padding-bottom: 0.4em;
	color: #000066;
	font-size: 120%;
	float: left;
}

div.announcements a {
	color: #000066;
}

div.announcements div.topactions {
	text-align: right;
}

div.announcements div.description {
	clear: both;
}

div.announcements div.publication_info {
	text-align: right;
	font-style: italic;
	margin: 1em 0;
}

div.announcements div.publication_actions {
	text-align: right;
}

div.announcements {
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-topleft: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;
	padding: 10px 10px 10px 44px;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	overflow: auto;
}

.toolSortHelper {
	border: 1px dashed #c0c0c0;
	background-color: #F2F2F2;
	display: inline;
	float: left;
	padding: 0px;
	margin: 0px -1px 5px -1px;
}

.tool {
	display: inline;
	float: left;
	padding: 0px;
	margin: 0px;
	margin-bottom: 5px;
}

div.questionform input[type=text],div.row div.questionform input[type=password],div.row div.questionform select
	{ /*
	background-image: url(../images/common/buttons/button_link.png);
	background-repeat: no-repeat;
	background-position: 2px center;
	padding-left: 20px;
	*/
	background-color: #f5f5f5;
	border: 1px solid #dedede;
}

div.questionform input[type=text]:hover,div.row div.questionform input[type=text]:focus,div.row div.questionform input[type=password]:hover,div.row div.questionform input[type=password]:focus,div.row div.questionform select:hover,div.row div.questionform select:focus
	{
	background-color: #f7fbfd;
	border-color: #4171B5;
}

/*****************************************************
 *  FORUM PHPBB STYLE                                *
 *****************************************************/
table.forum {
	background-color: #A9B8C2;
	width: 100%;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 90%;
}

table.forum .row1 {
	background-color: #ECECEC;
	padding: 4px;
}

table.forum .row2 {
	background-color: #DCE1E5;
	padding: 4px;
}

table.forum td.category {
	background-color: #C7D0D7;
	background-image:
		url('../images/weblcms/forum/backgrounds/cellpic1.gif');
	height: 28px;
	border: 0 none;
	margin: 0;
	padding: 0;
	text-indent: 4px;
}

table.forum td.category_right {
	background-image:
		url('../images/weblcms/forum/backgrounds/cellpic2.jpg');
	height: 28px;
}

table.forum th {
	background-color: #006699;
	background-image: url(./images/cellpic3.gif);
	color: #FFA34F;
	font-weight: bold;
	padding: 7px 5px;
	white-space: nowrap;
	font-size: 1.1em;
}

table.forum td.spacer {
	background-color: #D1D7DC;
	height: 5px;
}

/*****************************************************
 *  FORUM CHAMILO STYLE                                *
 *****************************************************/
table.forum {
	background-color: #c6d8ec;
	width: 100%;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 90%;
}

table.forum .row1 {
	background-color: #f4f8fb;
	padding: 4px;
}

table.forum .row2 {
	background-color: #e8eff7;
	padding: 4px;
}

table.forum td.category {
	background-color: #aec7e4;
	/*background-image: url('../images/weblcms/forum/backgrounds/cellpic1.png');*/
	background-image: none;
	height: 28px;
	border: 0 none;
	margin: 0;
	padding: 0;
	text-indent: 4px;
}

table.forum td.category_right {
	background-image:
		url('../images/weblcms/forum/backgrounds/cellpic2.png');
	height: 28px;
}

table.forum th {
	background-color: #6694cc;
	/*background-image:url('../images/weblcms/forum/backgrounds/cellpic3.png');*/
	background-image: none;
	color: #2b3f57;
	font-weight: bold;
	padding: 7px 5px;
	white-space: nowrap;
	font-size: 1.1em;
}

table.forum td.spacer {
	background-color: #aec7e4;
	height: 5px;
}

table.forum .quotetitle,.attachtitle {
	background-color: #A9B8C2;
	border-color: #A9B8C2;
	border-style: solid;
	border-width: 1px 1px 0;
	color: #333333;
	font-size: 0.85em;
	font-weight: bold;
	margin: 10px 5px 0;
	padding: 4px;
}

table.forum .quotecontent,.attachcontent {
	background-color: #FAFAFA;
	border-color: #A9B8C2;
	border-style: solid;
	border-width: 0 1px 1px;
	color: #4B5C77;
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial,
		sans-serif;
	font-size: 1em;
	font-weight: normal;
	line-height: 1.4em;
	margin: 0 5px 10px;
	padding: 5px;
}

/*****************************************************
 *  Wiki head styles                                 *
 *****************************************************/
.head1 {
	font-size: 21px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.head2 {
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.head3 {
	font-size: 15px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 5px;
}

.head4 {
	font-size: 12px;
}

.head5,.head6 {
	font-family: verdana, arial, helvetica, sans-serif;
}

/*****************************************************
 *  Wiki page styles                                 *
 *****************************************************/
#top {
	float: left;
	margin-right: 100%;
	margin-bottom: 15px;
	margin-top: 15px;
	min-width: 200px;
	padding: 5px;
	border: 1px solid #4271B5;
	background-color: #faf7f7;
}

#contentbox {
	align: center;
	font-family: Arial;
	font-size: 13px;
	display: inline;
	font-weight: bold;
}

#show {
	align: center;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	display: none;
}

#content {
	line-height: 160%;
}

.link_iframe {
	
}

/****************************
 * Student view link styles *
 ****************************/
div.student_view {
	position: fixed;
	right: 19px;
	top: 5px;
	/*float: right;*/
}

/************************
 * Tool shortcut styles *
 ************************/
#tool_shortcuts {
	float: right;
	margin-bottom: 10px;
}

div.publication_actions div.toolbar
{
	display: inline;
	clear: none;
	float: right;
}

div.publication_actions div.toolbar ul.toolbar_horizontal,
div.publication_actions div.toolbar ul.toolbar_vertical
{
	display: inline;
	float: right;
}

div.slideshow
{
	background-color: #f9f9f9;
}

div.slideshow div.description
{
	text-align: center;
}

div.slideshow img
{
	border: 1px solid #f0f0f0;
}

table.data_table#slideshow th.actions div.toolbar
{
	float: left;
}

table.data_table#slideshow th.navigation div.toolbar
{
	float: right;
}

table.data_table#slideshow td.header
{
	text-align: center;
}